In [1]:
import pandas as pd

In [2]:
def count_dynamics(years_list):
    
    df_res = pd.DataFrame()
    
    for year in years_list:
        query = 'names/yob' + str(year) + '.txt'
        df_year = pd.read_csv(query, header = None)
        df_year['Year'] = year
        df_res = df_res.append(df_year, sort=True)
    df_res.columns = ['Name', 'Gender', 'Qty', 'Year']
    df_count = df_res.groupby(['Gender', 'Year']).sum().unstack()
    return df_count

In [3]:
count_dynamics([1900, 1950, 2000])

           Qty
Year      1900     1950     2000
Gender
F       299798  1713065  1815295
M       150480  1790437  1963202