In [3]:
import pandas as pd

In [4]:
def count_top3(years_list):
    
    df_res = pd.DataFrame()
    
    for year in years_list:
        query = 'names/yob' + str(year) + '.txt'
        df_year = pd.read_csv(query, header = None)
        df_res = df_res.append(df_year, sort=True)
    df_res.columns = ['Name', 'Gender', 'Qty']
    df_top_3 = df_res.groupby('Name').sum().sort_values('Qty', ascending = False).head(3)
    return df_top_3.index

In [6]:
count_top3([1880])

Index(['John', 'William', 'Mary'], dtype='object', name='Name')

In [8]:
count_top3([1900, 1950, 2000])

Index(['James', 'John', 'Robert'], dtype='object', name='Name')